# Pillow is required, but not installed using pip. Instead, it's added as a Lambda layer in Terraform because otherwise
# getting it to work in Lambda is a pain. Uncomment the line below for local developing.
# Pillow==10.4.0

boto3==1.42.4
exif==1.6.0
requests==2.32.3